#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-image-source: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Forange-user-login-page&psig=AOvVaw1r1hV0Xngkla1MsFrVJ6Jq&ust=1742844715054000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCMjns_P4oIwDFQAAAAAdAAAAABAE');
}

